{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {{  form_start(form, {'action': path('show_edit')}) }}
            {{ form_row(form.show) }}
            {{ form_rest(form) }}
            {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}

