<div class="container" style="width: 70%">
    <div class="row bordered">
        <div class="col-xs-4">
            Artist
        </div>
        <div class="text-right col-xs-3">
            Sales
        </div>
        <div class="text-right col-xs-2">
            Tax
        </div>
        <div class="text-right col-xs-3">
            Total
        </div>
    </div>
    {% set grandTotal = 0 %}{% set grandTaxTotal = 0 %}
    {% for artist in artists %}
        {%  set tax =  artist.total*show.tax%}
        <div class="row {% if loop.index % 5 == 0 %}bottomline{% endif %}">
            <div class="col-xs-4">
                {{ artist.lastName~', '~artist.firstName }}
            </div>
            <div class="text-right col-xs-3">
                {{ artist.total|number_format(2) }}
            </div>
            <div class="text-right col-xs-2">
                {{ tax|number_format(2) }}
            </div>
            <div class="text-right col-xs-3" style="padding-bottom: 3px;">
                {{ '$'~(artist.total + tax)|number_format(2) }}
            </div>{% set grandTotal = grandTotal + artist.total %}{% set grandTaxTotal = grandTaxTotal + tax %}
        </div>
    {%  endfor  %}
    <div class="row bottomline" style="padding: 10px 0;">
        <div class="col-xs-4">
            Nontaxable items
        </div>
        <div class="text-right col-xs-3">
            {{ taxfree|number_format(2) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            Grand total
        </div>
        <div class="text-right col-xs-3">
            {{ '$'~(grandTotal+taxfree)|number_format(2) }}
        </div>
        <div class="text-right col-xs-2">
            {{ '$'~grandTaxTotal|number_format(2) }}
        </div>
        <div class="text-right col-xs-3">
            {{ '$'~(grandTotal+taxfree+grandTaxTotal)|number_format(2) }}
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-3">
            Distribution
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            Artists
        </div>
        <div class="text-right col-xs-4">
            {{ '$'~(grandTotal*(1-show.percent))|number_format(2, '.', ',') }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            UUFNN
        </div>
        <div class="text-right col-xs-4">
            {{ '$'~(grandTotal*show.percent+taxfree)|number_format(2, '.', ',') }}
        </div>
    </div>
</div>
