{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"> <h4>Ticket {{ number }}</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <u>Show</u>
                        </div>
                        <div class="col-sm-2 text-right">
                            <u>Receipt</u>
                        </div>
                        <div class="col-sm-6">
                            <u>Artist</u>
                        </div>
                    </div>
                    {% for ticket in tickets %}
                        <div class="row">
                            <div class="col-sm-4">
                                {{ ticket.show }}
                            </div>
                            <div class="col-sm-2 text-right">
                                {{ ticket.receipt }}
                            </div>
                            <div class="col-sm-6">
                                {{ ticket.lastName }}, {{ ticket.firstName }}
                            </div>
                        </div>
                    {%  endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
