<form name="ticket_add" action="{{ path('ticket_add', {'id':id}) }}" method="post">
<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.ticket) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.amount) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.artist) }}
    </div>
</div>{{ form_rest(form) }}
</form>