{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {{ form_row(form.artist) }}
            {{ form_rest(form) }}
            {{ form_row(form.save) }}
        </div>
    </div>
{% endblock body %}
{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/project.js') }}"></script>
{%  endblock %}
