{% extends "base.html.twig" %}
{% block body %}
    <div class="text-center text-info"><h3>Tickets for {{ artist.firstName~' '~artist.lastName }} </h3></div>
    {% include 'Artist/artistTicketsHeader.html.twig' %}
    {% set total = 0 %}{% set taxTotal = 0 %}
    {% for ticket in tickets %}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-1 text-right">
                {{ ticket.ticket|number_format(0, '', '') }}
            </div>
            <div class="col-sm-1 text-right">
                {{ ticket.receiptNo|number_format(0, '', '') }}
            </div>
            <div class="col-sm-2 text-right">
                {{ ticket.amount|number_format(2) }}
            </div>
            <div class="col-sm-2 text-right">
                {{ (ticket.amount*show.tax)|number_format(2) }}
            </div>
            <div class="col-sm-2 text-right">
                {#- sums -#}{%- set taxTotal = taxTotal + ticket.amount * show.tax -%}
                {%-  set total = total + ticket.amount -%}
            </div>
        </div>
    {% endfor  %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-1 text-right">
            Total
        </div>
        <div class="col-sm-2 text-right">
            {{ total|number_format(2) }}
        </div>
        <div class="col-sm-2 text-right">
            {{ taxTotal|number_format(2) }}
        </div>
        <div class="col-sm-2 text-right" style="padding-bottom: 10px;">
            {{ '$'~(total + taxTotal)|number_format(2) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-1">
            Distribution
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-1">
            Artist
        </div>
        <div class="col-sm-1 text-right">
            {{ '$'~(total*(1-show.percent))|number_format(2, '.', ',') }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-1">
            UUFNN
        </div>
        <div class="col-sm-1 text-right">
            {{ '$'~(total*show.percent)|number_format(2, '.', ',') }}
        </div>
    </div>
{% endblock %}