{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Edit receipt {{ receipt.receiptNo }}</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">Ticket</div>
                        <div class="col-sm-2">Amount</div>
                        <div class="col-sm-6">Artist</div>
                    </div>
                    {% for ticket in receipt.tickets %}
                        <div class="row" style="padding-bottom: 8px;">
                            <div class="col-sm-2">
                                <a href="{{ path('ticket_edit', {'id':ticket.id}) }}" class="btn-sm btn-info">Edit</a>
                            </div>
                            <div class="col-sm-2">
                                {{ ticket.ticket }}
                            </div>
                            <div class="col-sm-2">
                                {{ ticket.amount }}
                            </div>
                            <div class="col-sm-6">
                                {{ ticket.artist.lastName~', '~ticket.artist.firstName }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}