{% extends "base.html.twig" %}
{% form_theme form with ['Form/artisan_prototype.html.twig'] %}

{% block body %}
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Sales Receipt {{ nextId }}</h4></div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_row(form.salesDate) }}
                        </div>
                    </div>
                    <div class="tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}">
                        {% for item in form.tickets %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_row(item.ticket) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_row(item.amount) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_row(item.artist) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {{ form_rest(form) }}{{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{%  block javascripts %}
    {{ parent() }}
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/tickets.js"></script>
{%  endblock javascripts %}

