{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>Sales Receipt {{ nextId }}</h4></div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-sm-4">
                            {{ form_row(form.salesDate) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-right">
                            <u>Ticket</u>
                        </div>
                        <div class="col-sm-2 text-right">
                            <u>Amount</u>
                        </div>
                        <div class="col-sm-4">
                            <u>Artist</u>
                        </div>
                    </div>
                    <div id="ticketAddDialog"></div>
                    <div id="tickets">
                        {% for ticket in receipt.tickets %}
                            {% include ticketTemplate %}
                        {%  endfor %}
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-sm-3">
                            <a id="addTicket" href="#" class="btn-sm btn-info" style="text-decoration: none;">Add ticket</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            {{ form_row(form.save) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.view) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}{{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('/js/project.js') }}"></script>
{%  endblock javascripts %}
