{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5 text-center text-bold text-info"><h3>Receipts for {{ show.show }}</h3> </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-1">
            <u>Receipt</u>
        </div>
        <div class="col-sm-1">
            <u>Date</u>
        </div>
        <div class="col-sm-1">
            <u>Ticket</u>
        </div>
        <div class="col-sm-1 text-right">
            <u>Amount</u>
        </div>
        <div class="col-sm-1 text-right">
            <u>Tax</u>
        </div>
        <div class="col-sm-1 text-right">
            <u>Total</u>
        </div>
    </div>
    {% set grandTotal = 0 %}{% set grandTaxTotal = 0 %}{% set notaxTotal = 0 %}
    {% for receipt in receipts %}
        {% set total = 0 %}{% set receiptTaxTotal = 0 %}{% set notax = 0 %}
        {% for ticket in receipt.tickets %}
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-1">
                    {{ receipt.id }}
                </div>
                <div class="col-sm-1">
                    {{ receipt.salesDate|date('m/d/Y') }}
                </div>
                <div class="col-sm-1 text-right">
                    {{ ticket.ticket }}
                </div>
                <div class="col-sm-1 text-right">
                    {{ ticket.amount|number_format(2) }}
                </div>
                <div class="col-sm-1 text-right">
                    {#- tax -#}
                </div>
                <div class="col-sm-1 text-right">
                    {#- sums -#}{%- set receiptTaxTotal = receiptTaxTotal + ticket.amount * show.tax -%}
                    {%-  set total = total + ticket.amount -%}
                </div>
            </div>
        {% endfor  %}
        {% if receipt.nontaxable is not null %}{% set notax = receipt.nontaxable.amount  %}
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-1">
                    {{ receipt.id }}
                </div>
                <div class="col-sm-2">
                    Nontaxable item(s)
                </div>
                <div class="col-sm-1 text-right" style="padding-bottom: 10px;">
                    {{ '$'~notax|number_format(2) }}
                </div>
                <div class="col-sm-2 text-right" style="padding-bottom: 10px;">
                    {{ '$'~notax|number_format(2) }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                {#- receipt, date -#}
            </div>
            <div class="col-sm-1">
                Total
            </div>
            <div class="col-sm-1 text-right">
                {{ total|number_format(2) }}
            </div>
            <div class="col-sm-1 text-right">
                {{ receiptTaxTotal|number_format(2) }}
            </div>
            <div class="col-sm-1 text-right" style="padding-bottom: 10px;">
                {{ '$'~(total + receiptTaxTotal+notax)|number_format(2) }}
            </div>
        </div>
        {% set grandTotal = grandTotal + total %}{% set grandTaxTotal = grandTaxTotal + receiptTaxTotal %}{% set notaxTotal = notaxTotal + notax %}
    {%  endfor  %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2 text-right">
            Grand total
        </div>
        <div class="col-sm-1 text-right">
            {{ (grandTotal+notaxTotal)|number_format(2) }}
        </div>
        <div class="col-sm-1 text-right">
            {{ '$'~grandTaxTotal|number_format(2, '.', ',') }}
        </div>
        <div class="col-sm-1 text-right">
            {{ '$'~(grandTotal+grandTaxTotal+notaxTotal)|number_format(2, '.', ',') }}
        </div>
    </div>
{% endblock body %}
