{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-5">
            <h4>Ticket Blocks by Block for {{ show.show }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <u>Block</u>
        </div>
        <div class="col-sm-3">
            <u>Artist</u>
        </div>
    </div>
    {% for block in blocks %}
    <div class="row">
        <div class="col-sm-3">
            {{ block.lower }} - {{ block.upper }}
        </div>
        <div class="col-sm-3">
            {{ block.artist.lastName }}, {{ block.artist.firstName }}
        </div>
    </div>
        {%  endfor %}
{% endblock body %}
