{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>{{ action }} block for {{ artist.firstName~' '~artist.lastName }}</h4></div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {%  include 'Block/blockRows.html.twig' %}
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">{{ form_rest(form) }}
                            <input type="submit" value="Save" class="btn-sm btn-info">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/project.js') }}"></script>
{%  endblock javascripts %}
